.juicy-part {
    height: 100vh;
    width: 100%;
    background: url("images/background.gif");
    background-size: cover;
    overflow: auto;
    padding: 10px;
}

.points {
    height: 60px;
    width: 60px;
    padding: 0;
}

.points p {
    display: flex;
    height: 95%;
    width: 95%;
    padding-bottom: 7.5px;
    font-size: 60px;
    background: #eee;
    border-radius: 50%;
    align-items: center;
    justify-content: space-around;
}