
body {
    margin: 0;
    padding: 0;
}

.header {
    background: url('images/carousel1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.header .container-fluid {
    padding: 0 15%;
    background: #8d4c0f;
    min-height: 215px;
    position: absolute;
    bottom: 0;
}

.header .container-fluid .row {
    display: flex;
    justify-content: space-between;
    color: #ffcc66;
}

.about-wrapper {
    margin: 50px auto;
    min-height: 375px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right {
    width: 50%;
    padding: 15px;
}

.left {
    width: 50%;
    padding: 15px;
}

.variety-wrapper .row {
    max-height: 175px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.type-container {
    margin: 0 auto;
    max-width: 20%;
}

.variety-wrapper img {
    border: 1px #ffcc66 solid;
    padding: 10px;
    border-radius: 50%;
    width: 100%;
}

.variety-wrapper img:hover {
    border: 0px #ffcc66 solid;
    border-radius: 50%;
    width: 100%;
    transition: .5s;
}

.pre-main {
    margin-top: 50px;
    margin-bottom: 10px;
}

.main {
    padding: 50px;
    margin-top: 5px;
    background: url("images/carousel2.jpeg");
    background-size: cover;
    margin-bottom: 0em;
}

.product-wrapper {
    margin: 0 15px;
}

.product {
    background-color: #eee;
    box-shadow: 1px 0px 5px 0px;
    border-radius: 5px;
    text-align: center;
    line-height: 5px;
    padding: 15px;
    margin-bottom: 25px;
}

.product img {
    min-height: 50%;
    padding: -15px;
}
